#root {
  text-align: center;
}

.portfolio, #root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 200px;
  padding: 0px 2rem 0px;
}


.portfolio > div {
  
}