.footer .tofill {
    fill: var(--accent-color);
}

.footer .tocolor {
    color: var(--accent-color);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 3rem;
    width: 100vw;
    margin-top: 4rem;
    align-self: center;
    border-top: solid 1px rgba(255, 255, 255, 0.2);
}