@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Lato:wght@300;400;700&family=Raleway:wght@100;200;300;400;500;600;700&family=Roboto+Mono:wght@400;600&display=swap');

/* Dark Theme */
/* --main-bg-color: rgb(15 23 42);
  --main-text-color: rgba(255, 255, 255, 0.87);
  --main-text-font: 'Anonymous Pro';
  --main-header-font: 'Raleway'; */

  :root {
    --main-bg-color: #0f172a;
    --main-color: #ffffff;
    --secondary-color: #b5bedb;
    --accent-color: #64ffda; 


    --main-text-font: 'Lato';
    --main-header-font: 'Raleway';
    
  
    color: var(--main-color);
    background-color: var(--main-bg-color);


    background: rgb(2,0,36);
    background: linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(15,23,42,1) 0%, rgba(17,26,47,1) 100%);

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

    line-height: 1.6;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }


div, p {
  font-family: var(--main-text-font), sans-serif;
  color: var(--secondary-color);
}

h1, h2, h3, h4, .heading {
  font-family: var(--main-header-font), sans-serif;
  font-weight: 600;
  color: var(--main-color);
}

a {
  font-family: var(--main-header-font), sans-serif;
}

.icon {
  fill: var(--accent-color);
}

.interactable {
  color: var(--accent-color);
  font-family: var(--main-header-font);
  font-weight: 700;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  position: relative;
}

span.bold {
  color: var(--accent-color);
  font-weight: 700;
}


a::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s linear; 
}

figcaption {
  font-size: 0.65rem;
  text-align: right;
}
